<a rel="nofollow" id="cancel-comment-reply-link" href="#{obj.absolute_url}#respond" style="display:none;">取消回复</a>
<form action="#{obj.absolute_url}" method="post" id="commentform" class="form-horizontal">
    <fieldset style="width:700px">
        <legend>发表评论</legend>
        <div class="control-group">
            <label class="control-label" for="author">姓名</label>
            <div class="controls">
                <input type="text" id="author" name="author" class="input-xlarge required" required placeholder="Username">
                <span class="label label-info">必填</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">邮箱</label>
            <div class="controls">
                <input type="email" id="email" name="email" class="input-xlarge required" required
                       placeholder="example@domain.com">
                <span class="label label-info">必填</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url">网站</label>
            <div class="controls">
                <input type="text" id="url" name="url" class="input-xlarge" placeholder="http://www.yourdomain.com">
                <span class="label">选填</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="commentbox">内容</label>
            <div class="controls">
                <input type='hidden' value='#{obj.id}' id='postkeyname'/>
                <input type='hidden' value='' id='toid'/>
                <textarea id="commentbox" name="comment" class="span5 required" required rows="8"></textarea>
                <span class="label label-info">必填，限 10~500 个字符</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="button" name="submit" id="submit" class="btn btn-primary" value="提 交"/>
            <input type="reset" class="btn" value="重 置"/>
        </div>
        <p id="text"></p>
    </fieldset>
</form>
<script src="/static/jquery-plugin/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script>
    function testReg(reg, str) {
        return reg.test(str);
    }

    $('#submit').click(function () {
        var emailreg = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/g;
        var urlreg = /^http:\/\/.+\..+/;
        var email = $('#email').val();
        var url = $('#url').val();
        var con = $('#commentbox').val();
        var author = $('#author').val();

        if (author.length < 1 || author.length > 30) {
            $('#author').focus();
            return;
        }

        if (!testReg(emailreg, email)) {
            $('#email').focus();
            return;
        }
        if (url.length > 0) {
            if (!testReg(urlreg, url)) {
                $('#url').focus();
                return;
            }
        }
        if (con.length < 10 || con.length > 500) {
            $('#commentbox').focus();
            return;
        }

        $('#submit').attr('disabled', 'disabled');
        $('#text').html("Sending now.....");

        $.cookie('author', author, { expires: 365, path: '/' });
        $.cookie('email', email, { expires: 365, path: '/' });
        $.cookie('url', url, { expires: 365, path: '/' });

        $.ajax({
            type: 'POST',
            url: '#{request.path}',
            dataType: "json",
            data: {'act': 'postcomment', 'author': author, 'email': email, 'url': url, 'con': con, 'postid': $('#postkeyname').val(), 'toid': $('#toid').val()},
            success: function (data) {
                if (data.status == 200) {
                    $('#commentlist').append(data.msg);
                    scroll(0, $("#h").position().top);
                    $('#commentsec').fadeIn("slow");
                    $('#commentbox').val('');
                    $('#text').html('');
                    var cnum = Number($.cookie('usercomnum'));
                    if (cnum == null) {
                        cnum = 1;
                    } else {
                        cnum += 1;
                    }
                    $.cookie('usercomnum', cnum, { expires: 1, path: '/' });
                    $('#submit').removeAttr("disabled");
                    //window.location.reload();
                } else {
                    $('#text').html(data.msg);
                }
                $('#submit').removeAttr("disabled");
            }
        });
        return false;
    });

    function reply(toid, name) {
        var ct = $('#commentbox');
        ct.focus();
        ct.val('@' + name + ' ' + ct.val());
        $('#toid').val(toid);
        return false;
    }

    $(document).ready(function () {
        $('#author').val($.cookie('author'));
        $('#email').val($.cookie('email'));
        $('#url').val($.cookie('url'));
    });
</script>