<div id="wall" class="row" style="margin-top:5px">
    <?py for obj in objs: ?>
    <div class="span3 item">
		<div class="picture">
	        <a class="image" href="#{obj.absolute_url}" title="#{obj.title}"><img src="http://clabs.co/projects/tabula/img/photo4.jpg" alt=""/></a>
			<div class="description"><p>#{escape(obj.shorten_content)}</p></div>
			<div class="meta">
				<span><i class="icon-calendar"></i>#{obj.add_time_fn}</span>
				<span><i class="icon-user"></i> <a href="#">#{{ ADMIN_NAME }}</a></span>
				<span><i class="icon-heart"></i> #{obj.comment_num}</span>
			</div>
		</div>
	</div>
    <?py #endfor ?>
</div>
<ul class="pager">
    <li class="previous">
        <?py if 1< page <= allpage: ?>
        <?py     tvar = fromid if (listtype == 'index') else name ?>
        <a class="prev" href="#{{ BASE_URL }}/#{listtype}_prev_page/#{page-100}/#{tvar}/?type=list">&larr; 上一页</a>
        <?py #endif ?>
    </li>
    <li class="next">
        <?py if page< allpage: ?>
        <?py     tvar = endid if (listtype == 'index') else name ?>
        <a class="next" href="#{{ BASE_URL }}/#{listtype}_next_page/#{page+100}/#{tvar}/?type=list">下一页 &rarr;</a>
        <?py #endif ?>
    </li>
</ul>
<script type="text/javascript" src="/static/js/vender/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="/static/js/vender/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
var $container = $('#wall');
$('#wall').infinitescroll({
    navSelector  : "div.page .pages",
    nextSelector : "div.page .pages a:first",
    itemSelector : ".post"
  }, function( newElements ) {
		var $newElems = $( newElements );
		$container.masonry( 'appended', $newElems );
  });


   $('#content').masonry({
    itemSelector : '.post',
    columnWidth : 251
  });

});
</script>