<form id="myForm" class="form-horizontal">
    <div class="row">
    <div class="form-group">
        <label class="col-lg-2 control-label">用户名</label>
        <div class="col-lg-4">
            <input type="hidden" name="method" value="#{method}"/>
            <?py if obj and obj.user_id: ?>
            <input type="hidden" name="user_id" value="#{obj.user_id}"/>
            <input type="text" class="form-control" value="${obj.user_name}" readonly/>
            <?py else: ?>
            <input type="text" name="user_name" class="form-control" required maxlength="20" value="${obj.user_name}" placeholder="用户名"/>
            <?py #endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">邮箱</label>
        <div class="col-lg-4">
            <?py if obj and obj.user_id: ?>
            <input type="email" class="form-control" value="${obj.email}" readonly/>
            <?py else: ?>
            <input type="email" name="email" class="form-control" required maxlength="40" value="${obj.email}" placeholder="邮箱地址"/>
            <?py #endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">有效</label>
        <div class="col-lg-4">
            <div class="switch switch-small"><?py ck = ['','checked'] ?><input id="status" name="status" type="checkbox" value="true" #{ck[obj.status]}/></div>
        </div>
    </div>
    <div class="form-actions">
        <div class="col-lg-offset-2 col-lg-4">
        <button type="submit" id="submit" class="btn btn-primary">保 存</button>
        <button type="reset" id="helper" class="btn btn-default">重 置</button>
        <button type="button" class="btn btn-default" onclick="history.go(-1);">返 回</button>
        </div>
    </div>
    </div>
</form>
<hr/>
<script type="text/javascript">
    $(function () {
        $("#user_page").addClass("active");
        $('#myForm').submit(function () {
            $('#submit').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: $('#method').val(),
                data: $('#myForm').serialize(),
                success: function (data) {
                    SiQiTip.show("success", "保存用户成功！");
                    $('#submit').removeAttr('disabled');
                },
                error: function(){
                    SiQiTip.show("block", "服务器貌似出现问题，请稍后重试！");
                    $('#submit').removeAttr('disabled');
                }
            });
            return false;
        });
    });
</script>