<div class="row">
    <div class="span12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="text-align:center">Key</th>
                <th style="text-align:center">Value</th>
            </tr>
            </thead>
            <tbody>
            <?py for k, v in request.headers.iteritems(): ?>
            <tr>
                <td style="text-align:right"><span class="badge badge-info">#{k}</span></td>
                <td>#{v}</td>
            </tr>
            <?py #endfor ?>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#admin_page").addClass("active");
    });
</script>