<form id="myForm" action="" class="form-horizontal" method="post">
        <div class="row">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input01">每页显示文章数</label>
                    <div class="col-lg-4">
                        <input type="number" name="EACH_PAGE_POST_NUM" value="#{getAttr('EACH_PAGE_POST_NUM')}"
                               class="form-control" required min="1" id="input01" tabindex="1"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input04">文章列表显示字符数</label>
                    <div class="col-lg-4">
                        <input type="number" name="SHORTEN_CONTENT_WORDS" value="#{getAttr('SHORTEN_CONTENT_WORDS')}"
                               class="form-control" required min="1" id="input04" tabindex="4"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input05">描述显示的字符数</label>
                    <div class="col-lg-4">
                        <input type="number" name="DESCRIPTION_CUT_WORDS" value="#{getAttr('DESCRIPTION_CUT_WORDS')}"
                               class="form-control" required min="1" id="input05" tabindex="5"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input03">显示相关文章数</label>
                    <div class="col-lg-4">
                        <input type="number" name="RELATIVE_POST_NUM" value="#{getAttr('RELATIVE_POST_NUM')}"
                               class="form-control" required min="1" id="input03" tabindex="3"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input11">每页显示评论数</label>
                    <div class="col-lg-4">
                        <input type="number" name="EACH_PAGE_COMMENT_NUM" value="#{getAttr('EACH_PAGE_COMMENT_NUM')}"
                               class="form-control" required min="1" id="input11" tabindex="11"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input06">显示最近评论数</label>
                    <div class="col-lg-4">
                        <input type="number" name="RECENT_COMMENT_NUM" value="#{getAttr('RECENT_COMMENT_NUM')}"
                               class="form-control" required min="1" id="input06" tabindex="15"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input07">最近评论显示字符数</label>
                    <div class="col-lg-4">
                        <input type="number" name="RECENT_COMMENT_CUT_WORDS" value="#{getAttr('RECENT_COMMENT_CUT_WORDS')}"
                               class="form-control" id="input07" required min="1" tabindex="17"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input09">用户每天最大评论数</label>
                    <div class="col-lg-4">
                        <input type="number" name="MAX_COMMENT_NUM_A_DAY" value="#{getAttr('MAX_COMMENT_NUM_A_DAY')}"
                               class="form-control" id="input09" required min="1" tabindex="18"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input18">评论显示无需审核(0/1)</label>
                    <div class="col-lg-4">
                        <input type="number" name="COMMENT_DEFAULT_VISIBLE" value="#{getAttr('COMMENT_DEFAULT_VISIBLE')}"
                               class="form-control" id="input18" required min="1" tabindex="19"/>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input08">边栏显示友情链接数</label>
                    <div class="col-lg-4">
                        <input type="number" name="LINK_NUM" value="#{getAttr('LINK_NUM')}" class="form-control"
                               id="input08" required min="1" tabindex="31"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input12">热门标签显示数</label>
                    <div class="col-lg-4">
                        <input type="number" name="HOT_TAGS_NUM" value="#{getAttr('HOT_TAGS_NUM')}"
                               class="form-control" id="input12" required min="1" tabindex="31"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input32">归档显示数</label>
                    <div class="col-lg-4">
                        <input type="number" name="MAX_ARCHIVES_NUM" value="#{getAttr('MAX_ARCHIVES_NUM')}"
                               class="form-control" id="input32" required min="1" tabindex="32"/>
                    </div>
                </div>
        </div>
        <div class="form-actions">
            <div class="col-lg-offset-2 col-lg-4">
            <button type="submit" class="btn btn-primary" tabindex="100">保 存</button>
            <button type="reset" class="btn btn-default" tabindex="101">重 置</button>
        </div>
        </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#sys_page").addClass("active");
        $("input,select,textarea").not("[type=submit]").not("[type=reset]").jqBootstrapValidation();
        $('#myForm').submit(function () {
            $.ajax({
                type: 'POST',
                url: "",
                dataType: "json",
                data: $("#myForm").serialize(),
                success: function () {
                    SiQiTip.show("success", "保存成功！");
                },
                error: function() {
                    SiQiTip.show("error", "保存失败！");
                }
            });
            return false;
        });
    });
</script>