<div class="row">
    <div class="span12">
        <div class="well">
          <a class="pull-right" href="#">
            <img class="media-object" src="#{{ STATIC_URL }}/static/images/helper-girl.jpg">
          </a>
          <h4>使用帮助</h4>
          <p>1.点击屏幕右上角的 <a href="#" class="btn">帮助信息</a> 可以获得当前网页的使用帮助</p>
          <p>2.文章相关的功能全部在 <a href="/admin/list_post" class="btn">文章管理</a>，包括 <strong>发表一篇新文章</strong></p>
          <p>3.分类相关的功能全部在 <a href="/admin/category" class="btn">分类管理</a>，可以 <strong>新建</strong> / <strong>编辑</strong> / <strong>删除</strong> / <strong>移动</strong></p>
          <p>4.评论相关的功能全部在 <a href="/admin/comment/" class="btn">评论管理</a>，可以 <strong>审核</strong> / <strong>编辑</strong> / <strong>删除</strong> 用户评论</p>
          <p>5.用户相关的功能全部在 <a href="/admin/users" class="btn">用户管理</a>，可以 <strong>新建</strong> / <strong>审核</strong> / <strong>编辑</strong> / <strong>删除</strong>用户</p>
          <p>6.友情链接相关的功能全部在 <a href="/admin/links" class="btn">友情链接</a>，可以 <strong>新建</strong> / <strong>编辑</strong> / <strong>删除</strong> 友情链接</p>
          <p>0.更多功能即将加入，敬请期待</p>
          <p><a href="/admin/add_post" class="btn btn-primary">好的，发表一篇文章试试</a></p>
        </div>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="text-align:center">Key</th>
                <th style="text-align:center">Value</th>
            </tr>
            </thead>
            <tbody>
            <?py for k, v in request.headers.iteritems(): ?>
            <tr>
                <td style="text-align:right"><span class="badge badge-info">#{k}</span></td>
                <td>#{v}</td>
            </tr>
            <?py #endfor ?>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#admin_page").addClass("active");
    });
</script>