<form id="myForm" action="" class="form-horizontal" method="post">
        <div class="row">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input02">广告代码 1</label>
                    <div class="col-lg-4">
                        <textarea name="ADSENSE_CODE1" id="input02" class="form-control" rows="6" tabindex="1">#{getAttr('ADSENSE_CODE1')}</textarea> <span class="help-inline">文章混排</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input03">广告代码 2</label>
                    <div class="col-lg-4">
                        <textarea name="ADSENSE_CODE2" id="input03" class="form-control" rows="6" tabindex="2">#{getAttr('ADSENSE_CODE2')}</textarea> <span class="help-inline">边栏显示</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="input01">统计代码</label>
                    <div class="col-lg-4">
                        <textarea name="ANALYTICS_CODE" id="input01" class="form-control" rows="6" tabindex="3">#{getAttr('ANALYTICS_CODE')}</textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="col-lg-offset-2 col-lg-4">
                    <button type="submit" class="btn btn-primary">保 存</button>
                    <button type="reset" class="btn">重 置</button>
                </div>
                </div>
            </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#sys_page").addClass("active");
        $('#myForm').submit(function () {
            $.ajax({
                type: 'POST',
                url: "",
                dataType: "json",
                data: $("#myForm").serialize(),
                success: function () {
                    SiQiTip.show("success", "保存成功！");
                },
                error: function() {
                    SiQiTip.show("error", "保存失败！");
                }
            });
            return false;
        });
    });
</script>