<form id="myForm" action="#" class="form-horizontal" method="POST" onsubmit="onSave()">
    <fieldset>
        <legend>个人资料</legend>
        <div class="control-group">
            <label class="control-label" for="oldPassword">原密码</label>

            <div class="controls">
                <input type="password" name="oldPassword" class="input-xlarge" required id="oldPassword" tabindex="1"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword">新密码</label>

            <div class="controls">
                <input type="password" name="newPassword" class="input-xlarge" required id="newPassword" tabindex="2"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword2">确认密码</label>

            <div class="controls">
                <input type="password" name="newPassword2" class="input-xlarge" required equalTo="#newPassword"
                       id="newPassword2" tabindex="3"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">保 存</button>
            <button type="button" class="btn">重 置</button>
        </div>
    </fieldset>
</form>
<span class="label label-info">提示</span> 修改密码成功后会自动踢出系统，您需要重新登录系统.
<script type="text/javascript">
    function onSave() {
        var oldPassword = $("#oldPassword").val().trim();
        var newPassword = $("#newPassword").val().trim();
        var newPassword2 = $("#newPassword2").val().trim();
        if(newPassword != newPassword2){
            SiQiTip.show("error", "新密码和确认密码必须一致");
            return false;
        }
        $.ajax({
            url: "/admin/profile",
            method: "POST",
            data: {
                oldPassword: oldPassword,
                newPassword: newPassword,
                newPassword2: newPassword2
            },
            timeout: 3000
        }).success(function (data) {
                    if (data > 0) {
                        bootbox.alert("修改密码成功！请重新登录系统！", function () {
                            location.href = "/admin/login";
                        });
                    }
                    else {
                        SiQiTip.show("error", "修改密码失败！请检查您输入的原密码是否正确！");
                    }
                });
        return false;
    }
    $(function () {
        $("#user_page").addClass("active");
    });
</script>