<form id="myForm" action="" class="form-horizontal" method="post">
    <fieldset>
        <legend>参数设置</legend>
        <div class="control-group">
            <label class="control-label" for="input09">SMTP 服务器</label>

            <div class="controls">
                <input type="text" name="MAIL_SMTP" value="#{getAttr('MAIL_SMTP')}" class="input-xlarge required"
                       id="input09"
                       tabindex="1"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input10">SMTP 端口</label>

            <div class="controls">
                <input type="text" name="MAIL_PORT" value="#{getAttr('MAIL_PORT')}" class="input-xlarge required"
                       id="input10"
                       tabindex="2"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input11">发信邮箱</label>

            <div class="controls">
                <input type="text" name="MAIL_FROM" value="#{getAttr('MAIL_FROM')}" class="input-xlarge required"
                       id="input11"
                       tabindex="3"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input12">邮箱密码</label>

            <div class="controls">
                <input type="password" name="MAIL_KEY" value="#{getAttr('MAIL_KEY')}" class="input-xlarge"
                       id="input12" tabindex="4"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">保存更改</button>
            <button class="btn">重置</button>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $(function () {
        $("#sys_page").addClass("active");
    });
</script>