<div class="row">
    <div class="span12">
    <form id="myForm" action="" class="well form-inline" method="post">
        <input type="text" name="name" class="span3" id="input11" required maxlength="100" placeholder="用户名"/>
        <button type="submit" class="btn btn-primary">查 询</button>
        <button type="button" class="btn btn-success pull-right" onclick="window.location.href='/admin/add_user'">新 建</button>
    </form>
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th style="width:48px">#</th>
            <th style="width:48px">头像</th>
            <th>用户名</th>
            <th style="width:100px">发帖数</th>
            <th style="width:30px">状态</th>
            <th style="width:60px">找回密码</th>
            <th style="width:60px">可用操作</th>
        </tr>
        </thead>
        <tbody id="content">
        <?py import time ?>
        <?py for i in objs: ?>
        <tr>
            <td>#{i.id}</td>
            <td><img alt='' src='#{i.gravatar}?s=48&d=monsterid' height='48' width='48'/></td>
            <td><a href="/t/#{i.id}" title="Link to #{i.name}" target="_blank">#{i.name}</a><br /><a href="mailto:#{i.email}" title="Mail to #{i.email}" target="_blank">(#{i.email})</a></td>
            <td>0</td>
            <td>
            <?py    if i.status == 1: ?><span class="label label-success">启用</span>
            <?py    else: ?><span class="label">禁用</span>
            <?py    #endif ?></td>
            <td><a href="/admin/repass_user?name=#{i.name}&email=#{i.email}" class="ajax" data-method="post" data-reset="1">找回密码</a></td>
            <td><a href="/admin/edit_user/#{i.id}">编辑</a> <a href="/admin/del_user/#{i.id}" class="ajax" data-remove-closest="tr">删除</a></td>
        </tr>
        <?py #endfor ?>
        </tbody>
    </table>
    <div id="page-selection"></div>
    </div>
</div>
<hr id="helper"/>
<div class="well">
  <a class="pull-right" href="#">
    <img class="media-object" src="#{{ STATIC_URL }}/static/images/helper-girl.jpg">
  </a>
  <h4>用户列表</h4>
  <p>1.点击 <strong>用户名</strong> 可以查看用户详细资料</p>
  <p>2.点击 <strong>编辑</strong> 可以修改用户资料</p>
  <p>3.点击右侧绿色的 <strong>新建</strong> 按钮可以新建用户</p>
  <p>4.本页最多显示 #{ADMIN_USER_NUM} 篇用户, 你可以在 <a href="/admin/setting5">后台参数</a> 里面修改</p>
  <p><a href="#top" class="btn btn-primary">我明白了</a></p>
</div>
<script type="text/javascript" src="#{{ STATIC_URL }}/static/js/vender/template.min.js"></script>
<script type="text/javascript">
    // artTemplate 扩展
    template.helper('$format', function (content) {
        return new Date(content*1000).toLocaleString().replace(/上|下|午/g,' ');
    });
    $(function () {
        $("#user_page").addClass("active");
        $('#page-selection').bootpag({
            total: #{total},
            maxVisible: 10,
            next: '下一页',
            prev: '上一页'
        }).on("page", function(event, num){
            $.ajax({
                url: '#{request.path}?page='+num,
                success: function (data) {
                    var html = template.render('articleTemplate', data);
                    $("#content").html(html);
                    SiQiTip.show("success", "加载用户列表成功！");
                },
                error: function() {
                    SiQiTip.show("error", "加载用户列表失败！");
                }
            });
        });
    });
</script>
<script id="articleTemplate" type="text/html">
<%for(i = 0; i < list.length; i ++) {%>
<tr>
    <td><%=list[i].id%></td>
    <td><img alt='' src='http://www.gravatar.com/avatar/<%=$md5(list[i].name)%>?s=48&d=monsterid' height='48' width='48'/></td>
    <td><a href="/t/<%=list[i].id%>" title="Link to <%=list[i].name%>" target="_blank"><%=list[i].name%></a><br /><a href="mailto:<%=list[i].email%>" title="Mail to <%=list[i].email%>" target="_blank">(<%=list[i].email%>)</a></td>
    <td>0</td>
    <%if(list[i].status == 1){%><span class="label label-success">启用</span>
    <%}else{%><span class="label">禁用</span>
    <%}%></td>
    <td><a href="/admin/repass_user?name=<%=list[i].name%>&email=<%=list[i].email%>" class="ajax" data-method="post" data-reset="1">找回密码</a></td>
    <td><a href="/admin/edit_user/<%=list[i].id%>">编辑</a> <a href="/admin/del_user/<%=list[i].id%>" class="ajax" data-remove-closest="tr">删除</a></td>
</tr>
<%}%>
</script>