<form id="myForm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="cat">* 文章分类</label>
        <div class="controls">
            <div class="input-prepend">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">选择分类 <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <?py for cat in cats: ?>
                        <li><a href="#" onclick="$('#cat').val(($(this).text()));">#{cat.name}</a></li>
                        <?py #endfor ?>
                    </ul>
                </div>
                <input type="text" id="cat" class="span2" required value="${obj.category}" tabindex="1" placeholder="输入新分类名称">
            </div>
            <span class="help-inline pull-right">可选设置：<input type="text" id="password" class="input-medium"
                                                        value="${obj.password}" maxlength="8" placeholder="设置阅读密码"/>
            <label class="checkbox help-inline" style="padding-left:30px;"><?py ck = ['','checked'] ?><input
                    type="checkbox" value="True" tabindex="5" #{ck[obj.closecomment]}/> 关闭评论</label></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tit">* 文章标题</label>
        <div class="controls">
            <input type="hidden" id="postid" name="postid" value="#{obj.id}"/>
            <input type="hidden" id="method" name="method" value="#{method}"/>
            <input type="text" id="tit" class="span8" required value="${obj.title}" tabindex="2" maxlength="100"
                   placeholder="标题"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="html">* 文章正文</label>
        <div class="controls">
            <textarea id="html" class="input-xlarge" name="con" rows="3" tabindex="3">#{obj.content}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tag">标签</label>
        <div class="controls">
            <select data-placeholder="按住Ctrl可以一次选择多个标签,推荐选择 10 个左右" id="tag" class="span8 chzn-select" multiple>
                <option value=""></option>
                <?py for tag in tags: ?>
                <?py    if 0<=obj.tags.find(tag['name']): ?>
                <option value="#{tag.name}" selected>#{tag.name}</option>
                <?py    else: ?>
                <option value="#{tag.name}">#{tag.name}</option>
                <?py    #endif ?>
                <?py #endfor ?>
            </select>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" id="submit" class="btn btn-primary">保 存</button>
        <button type="reset" class="btn">重 置</button>
    </div>
</form>
<script type="text/javascript" src="/static/js/vender/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/static/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#post_page").addClass("active");
        $(".chzn-select").chosen();
        //$(".chzn-select").trigger("liszt:updated");
        var editor = KindEditor.create('#html', {
            uploadJson: '/admin/fileupload',
            fileManagerJson: '/admin/filelist',
            allowFileManager: true,
            width: '800px',
            height: '360px'
        });
        $('#myForm').submit(function () {
            editor.sync();
            var id = $('#postid').val();
            var cat = $('#cat').val().replace(/(^\s*)|(\s*$)/g, "");
            var tit = $('#tit').val().replace(/(^\s*)|(\s*$)/g, "");
            var con = $('#html').val().replace(/(^\s*)|(\s*$)/g, "");
            var tag = $('#tag').val();
            var password = $('#password').val().replace(/(^\s*)|(\s*$)/g, "");
            $('#submit').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: $('#method').val(),
                dataType: "json",
                data: {'id': id, 'cat': cat, 'clo': $('#clo').is(":checked"), 'tit': tit, 'con': con, 'tag': tag, 'password': password},
                success: function (data) {
                    bootbox.dialog(data.msg+"，请选择下一步操作：", [{
                        "label" : "新建文章",
                        "class" : "btn-success",
                        "callback": function() {
                            window.location.href = "/admin/add_post";
                        }
                    }, {
                        "label" : "继续编辑",
                        "class" : "btn-primary",
                        "callback": function() {
                            window.location.href = "/admin/edit_post/"+data.postid;
                        }
                    }, {
                        "label" : "文章列表",
                        "class" : "btn-primary",
                        "callback": function() {
                            window.location.href = "/admin/list_post";
                        }
                    }]);
                },
                error: function(){
                    SiQiTip.show("block", "服务器貌似出现问题，请稍后重试！");
                }
            });
            return false;
        });
    });
</script>