<?py if obj is not None: ?>
<form action="" class="form-horizontal" method="post" id="commentform">
    <fieldset>
        <legend>编辑评论</legend>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="input01">姓名</label>
                    <div class="controls">
                        <input type="text" name="author" value="#{obj.author}" class="input-xlarge" required id="input01" tabindex="1"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input02">邮箱</label>
                    <div class="controls">
                        <input type="email" name="email" value="#{obj.email}" class="input-xlarge" required  id="input02" tabindex="2"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input03">网站</label>
                    <div class="controls">
                        <input type="text" name="url" value="#{obj.url}" class="input-xlarge" id="input03" tabindex="3"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="commentbox">内容</label>
                    <div class="controls">
                        <textarea name="content" class="input-xlarge" id="commentbox" tabindex="3"
                                  rows="6">#{obj.content}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input04">显示本条评论</label>
                    <div class="controls">
                        <?py ck = ['','checked'] ?>
                        <input type="checkbox" name="visible" value="True" class="input-xlarge" id="input04" tabindex="3"
                        #{ck[obj.visible]} />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">保 存</button>
                    <button type="reset" class="btn">重 置</button>
                    <button type="button" class="btn btn-inverse" onclick="window.location.href='/admin/comment/';">返 回</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<?py else: ?>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th style="width:48px">#</th>
        <th style="width:48px">头像</th>
        <th style="width:200px">邮箱</th>
        <th>评论内容</th>
        <th style="width:80px">评论时间</th>
        <th style="width:100px">可用操作</th>
    </tr>
    </thead>
    <tbody>
    <?py for cobj in comments: ?>
    <tr>
        <td>#{cobj.id}</td>
        <td><img alt='' src='#{cobj.gravatar}?s=48&d=monsterid' height='48' width='48'/></td>
        <td><strong>#{cobj.author}</strong><br /><a href="mailto:#{cobj.email}" title="Mail to #{cobj.email}"
               target="_blank">(#{cobj.email})</a></td>
        <td>#{cobj.content}</td>
        <td>#{cobj.add_time}</td>
        <td><a href="#{BASE_URL}/t/#{cobj.postid}#r#{cobj.id}" target="_blank">定位</a> <a
                href="/admin/comment/#{cobj.id}">编辑</a> <a href="/admin/comment/#{cobj.id}?act=del" class="ajax" data-remove-closest="tr">删除</a></td>
    </tr>
    <?py #endfor ?>
    </tbody>
</table>
<?py #endif ?>
<hr id="helper"/>
<div class="well">
  <a class="pull-right" href="#">
    <img class="media-object" src="/static/images/helper-boy.jpg">
  </a>
  <h4>评论列表</h4>
  <p>1.点击评论者的 <strong>邮箱</strong> 可以向其发送邮件(需要在本地系统中配置好邮箱客户端，同时保证本系统的邮箱设置是有效的)</p>
  <p>2.点击 <strong>定位</strong> 将定位该条评论在系统中出现的位置</p>
  <p>3.本页最多显示 #{ADMIN_RECENT_COMMENT_NUM} 条评论, 你可以在 <a href="/admin/setting3">系统设置</a> 里面修改</p>
  <h4>编辑评论</h4>
  <p>1.取消勾选 <strong>显示本条评论</strong> 将不再显示该条评论</p>
  <p><a href="#top" class="btn btn-primary">我明白了</a></p>
</div>
<script type="text/javascript">
    $(function () {
        $("#comment_page").addClass("active");
    });
</script>