<form action="" class="form-horizontal" method="post">
    <fieldset>
        <legend>参数设置</legend>
        <div class="control-group">
            <label class="control-label" for="input01">统计代码</label>

            <div class="controls">
                <textarea name="ANALYTICS_CODE" id="input01" class="input-xxlarge" rows="6" tabindex="1">#{getAttr('ANALYTICS_CODE')}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input02">广告代码 1</label>

            <div class="controls">
                <textarea name="ADSENSE_CODE1" id="input02" class="input-xxlarge" rows="6" tabindex="2">#{getAttr('ADSENSE_CODE1')}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input03">广告代码 2</label>

            <div class="controls">
                <textarea name="ADSENSE_CODE2" id="input03" class="input-xxlarge" rows="6" tabindex="3">#{getAttr('ADSENSE_CODE2')}</textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">保存更改</button>
            <button class="btn">重置</button>
        </div>
    </fieldset>
</form>