<!DOCTYPE html>
<html lang="#{{ LANGUAGE }}">
<head>
    <meta charset="utf-8">
    <title>CloudPrint.Me - Coming Soon</title>
    <meta name="author" content="baitao.ji@gmail.com"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="#{{ STATIC_URL }}/static/favicon.ico" type="image"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=cyrillic" rel="stylesheet">
    <link href="#{{ STATIC_URL }}/static/style/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="#{{ STATIC_URL }}/static/style/bootstrap-responsive.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="#{{ STATIC_URL }}/static/themes/cloudprint/css/cloudprint.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <meta name="description" content="云计算环境下绿色环保的打印方案"/>
    <meta name="keywords" content="云计算,打印,省时,省事,绿色,环保,大学生,考试"/>
</head>
<body>
<div class="container">
#{_content}
</div>
<!--[if lt IE 9]><script type="text/javascript" src="#{{ STATIC_URL }}/static/js/vender/jquery-1.10.1.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script type="text/javascript" src="#{{ STATIC_URL }}/static/js/vender/jquery-2.0.2.min.js"></script><!--<![endif]-->
<script type="text/javascript" src="#{{ STATIC_URL }}/static/js/vender/bootstrap.min.js"></script>
<script type="text/javascript" src="#{{ STATIC_URL }}/static/themes/cloudprint/js/jquery.countdown.min.js"></script>
<script defer="defer" type="text/javascript" src="#{{ STATIC_URL }}/static/themes/cloudprint/js/cloudprint.min.js"></script>
</body>
</html>