<h1 class="site-heading">CloudPrint.Me</h1>
<p class="description">We are building our awesome webapp.<br>Submit your email to subscribe for news.</p>
<form class="subscribe-form form-inline" id="subscribe-form" novalidate>
    <input type="email" class="subscribe-email" id="subscribe-email" name="email" placeholder="Email">
    <div class="subscribe-submit-container">
        <button class="subscribe-submit btn btn-large" id="subscribe-submit">SUBSCRIBE</button>
    </div>
</form>
<div id="countdown" class="countdown">
    <div class="countdown-item">
        <div class="countdown-number countdown-days"></div>
        <div class="countdown-text">days</div>
    </div>
    <div class="countdown-item">
        <div class="countdown-number countdown-hours"></div>
        <div class="countdown-text">hours</div>
    </div>
    <div class="countdown-item">
        <div class="countdown-number countdown-minutes"></div>
        <div class="countdown-text">minutes</div>
    </div>
    <div class="countdown-item">
        <div class="countdown-number countdown-seconds"></div>
        <div class="countdown-text">seconds</div>
    </div>
</div>