/* Body and structure
-------------------------------------------------- */
body {
    position: relative;
    padding-top: 0px;
}

/* Docs pages and sections
-------------------------------------------------- */

/* Page headers */
.bs-header {
    padding: 0px 30px 20px;
    font-size: 16px;
    color: #5a5a5a;
    text-align: center;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.bs-header h1 {
    color: #563d7c;
}

.bs-header p {
    font-weight: 300;
    line-height: 1.5;
}

.bs-header .container {
    position: relative;
}

/* Ads in page headers */
.carbonad {
    width: auto !important;
    margin: 50px -30px -40px !important;
    padding: 20px !important;
    overflow: hidden; /* clearfix */
    height: auto !important;
    font-size: 13px !important;
    line-height: 16px !important;
    text-align: left;
    background: none !important;
}

/* Signin Form
-------------------------------------------------- */
.form-signin {
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 90px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-group {
    margin-bottom: 10px;
}

/* Footer
-------------------------------------------------- */
#footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

#footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
    .highlight {
        display: none;
    }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

    .bs-header {
        font-size: 21px;
        text-align: left;
    }

    .bs-header h1 {
        font-size: 60px;
        line-height: 1;
    }

    .bs-example {
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }

    .carbonad {
        margin: 0 !important;
    }

    /* Show the docs nav */
    .bs-sidebar {
        display: block;
    }

    /* Show the hidden subnavs when space allows it */
    .bs-sidebar .nav > .active > ul {
        display: block;
    }

    /* Tweak display of docs jumbotrons */
    .bs-masthead {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .bs-masthead h1 {
        font-size: 100px;
    }

    .bs-masthead .lead {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 30px;
    }

    .bs-navbar-top-example .navbar-fixed-top,
    .bs-navbar-bottom-example .navbar-fixed-bottom {
        position: absolute;
    }

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }

    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile-first approach */
        top: 80px;
    }

    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile-first approach */
    }

    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .bs-header h1,
    .bs-header p {
        margin-right: 380px;
    }

    .carbonad {
        position: absolute;
        top: 7px;
        right: 0;
        padding: 15px !important;
        /*width: 330px !important;*/
        /*min-height: 132px;*/
    }
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 270px;
    }

}

/* Tip
-------------------------------------------------- */
.message {
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);

    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    z-index: 999;
    position: fixed;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
}

.message-info {
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.message-error {
    background-color: #de4343;
    border-color: #c43d3d;
}

.message-warning {
    background-color: #eaaf51;
    border-color: #d99a36;
}

.message-success {
    background-color: #61b832;
    border-color: #55a12c;
}

.message h3 {
    margin: 0 0 5px 0;
}

.message p {
    margin: 0;
}

@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}